* {
    box-sizing: border-box;
}
body {
    background-color: #2a3ad8;
    min-width: 320px;
}

.container {
	color: #ebecf7;
}

.intro {
    text-align:center;
}

.artist-getter {
    color: black;
}
.artist-name {
    width: 100%;
}

.search-artist {
   text-align: center;
}

.names ul {
    color: blue;
    background-color: #ebecf7;
    text-align: center;
    margin: 100px auto;
    box-shadow: 10px 10px 5px #42497a;

}
.projects {
    text-align: center;
}
.projects_list {
    background-color: #ebecf7;
    color: blue;
    box-shadow: 10px 10px 5px #42497a;
}

.projects_list li img {
    width: 100%;
}
.hidden {
	display: none;
}

li {
    
}

ul {
    text-align: center;
    list-style-type: none;
    padding: 5px;
}

/*Media Queries */


@media screen and (min-width: 500px) {
    
    .names ul {
        width: 50%;
    } 
    .projects_list {
        width: 46%;
        margin: 2%;
        float: left;
        height: 200px;
    }

}

@media screen and (min-width: 768px) {
    

    .projects_list {
        width: 28.5%;
        margin: 2%;
    }

}