
body {
    background-color: #2a3ad8;
}
.container {
	margin: 50px;
	width: 600px;
}

.intro {
    margin-left: 45px;
    color: #ebecf7;
}

h3 {
    color: #ebecf7;
}


.search-artist {
   float: left;
   margin-left: 50px;
}

.name_list {
    background-color: #ebecf7;
    color: #2a3ad8;
}

#map {
    height: 277px;
}

.img-responsive {
    width: 200px;
    height: 100px;
}

.search_map {
    
}

.hidden {
	display: none;
}

ul {
    display: block;
    list-style-type: none;
    padding: 5px;
	margin-right: 200px;
	border: 1px solid black
}
